<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application android:label="加页手记地图助手" android:allowBackup="false" android:icon="@drawable/app_logo"
        android:theme="@android:style/Theme.Material.NoActionBar" android:supportsRtl="true">
        <provider android:name=".UpdateProvider" android:authorities="${applicationId}.updates"
            android:exported="false" android:grantUriPermissions="true" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".MapLibraryActivity" android:exported="false"
            android:label="地图管理" android:parentActivityName=".MainActivity" />
        <service android:name=".CaptureService" android:exported="false" android:foregroundServiceType="mediaProjection" />
        <service android:name=".TapRelayService" android:label="加页手记点击转交"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/tap_relay" />
        </service>
    </application>
</manifest>
